<%- include('partials/header.ejs'); -%>

    <h1>
        <%=postT %>
    </h1>
    <p>
        <%=postC %>
    </p>
    <button class="btn btn-dark" onclick="window.location.href='/';">Go to Home page</button>
    <%- include('partials/footer.ejs'); -%>